.jumbotron {
    background-color: rgb(185, 51, 51);
}
p {
    text-align: center;
}
h3 {
    font-family: "Lucida Handwriting", cursive;
}
h1, h4, h6 {
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}
.mynav {
    height: 100px;
}
.navbar {
    background-color: transparent !important;
}
.navbar .navbar-brand {
    color: black;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav {
    margin: 0 auto;
}
body {
    background-color: rgb(233, 161, 173) !important;
}