.jumbotron {
    background-color: rgb(185, 51, 51);
}
h3 {
    font-family: "Lucida Handwriting", cursive;
}
h1, h2, h4, h6 {
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}
.mynav {
    height: 100px;
    background-image: url("../cherry_blossom.png");
}
.navbar {
    padding-top: 25px;
    background-color: transparent !important;
}
.navbar .nav-link{
    font-weight: bold;
}
.navbar .navbar-brand {
    color: black;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav {
    margin: 0 auto;
}
body {
    background-color: rgb(233, 161, 173) !important;
}